<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>OpenShift with NetApp Trident</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="format-detection" content="telephone=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <link rel="icon" href="http://media.netapp.com/designimages/favicon.ico" type="image/x-icon">
  <meta charset="utf-8">
  <link rel="stylesheet" href="//cloud.typography.com/6091132/651206/css/fonts.css">
  <link rel="stylesheet" href="/static/luci/css/netapp-library.min.css">
</head>
<body>


<header>
  <div class="n-top-hat">
    <div class="n-container">
      <div class="n-top-hat__cross-property-nav">
          <ul class="n-top-hat__list">
              <li href="#" class="n-top-hat__list-item-header">More on NetApp</li>
              <li class="n-top-hat__list-item">
                <a href="http://www.netapp.com/" class="n-top-hat__link" data-ntap-ui="" target="_self">NetApp.com</a> 
              </li>
              <li class="n-top-hat__list-item">
                <a href="http://netapp.io/" data-ntap-ui="" class="n-top-hat__link" target="_self">thePub</a>
              </li>
              <li class="n-top-hat__list-item">
                <a href="https://github.com/netapp/" data-ntap-ui="" class="n-top-hat__link" target="_self">GitHub/netapp</a>
              </li>
              <li class="n-top-hat__list-item">
                <a href="http://netapp.io/slack/" class="n-top-hat__link" data-ntap-ui="" target="_self">Slack</a>
              </li>
        </ul>
      </div>
      <div class="n-top-hat__utils">
        <ul class="n-top-hat__list">
          <li class="n-top-hat__list-item">
            <a href="http://www.netapp.com/us/contact-us/index.aspx" class="n-top-hat__link">
              <span class="n-top-hat__link-text">Contact Us</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="n-property-bar n-property-bar--v1">
    <div class="n-property-bar__inner-wrap">
      <div class="n-property-bar__menu-toggle">
        <a href="#" class="n-property-bar__menu-toggle-link">
          <span class="n-property-bar__menu-toggle-text">Menu</span>
          <svg class="n-icon-bars n-property-bar__menu-toggle-icon" aria-labelledby="title">
            <title>bars</title>
            <use xlink:href="/static/luci/svg/sprite.svg#bars"></use>
          </svg>
        </a>
      </div>
      <div class="n-property-bar__property-mark ">
        <a class="n-property-bar__property-link" href="#">
          <div class="n-property-bar__logo">
            <svg class="n-icon-netapp-mark n-property-bar__netapp-mark-icon" aria-labelledby="title">
              <title>netapp-mark</title>
              <use xlink:href="/static/luci/svg/sprite.svg#netapp-mark"></use>
            </svg>
            <svg viewBox="0 0 1008 181.537" class="n-property-bar__logo-svg" aria-labelledby="title">
              <title>NetApp</title>
              <use xlink:href="/static/luci/svg/sprite.svg#netapp-logo"></use>
            </svg>
          </div>
        </a>
      </div>
    </div>
  </div>
</header>

<!-- Content -->
<main role="main" id="n-main-content" class="n-main-content n-main-content--no-bottom-padding n-main-content--no-top-padding">



<section class="n-hero n-hero--full-bleed" role="group">
  <ul class="slides n-hero__slides--full">
    <li class="n-hero__slides-item n-hero__slides-item--full-bleed" dir="ltr" style="width: 100%; float: left; margin-right: -100%; position: relative; display: list-item; background-image: url(/static/luci/images/big-n.jpg);">
      <section class="n-hero__content--full-bleed">
        <div class="n-page-header page-header--v1 ">
          <h1 class="n-page-header__heading n-page-header--on-dark-bg">Welcome to Django on OpenShift with NetApp Trident!</h1>
        </div>
        <div class="button__group">
          <a class="button button--inverse">{{ count }} awesome page views are awesome!</a>
        </div>
      </section>
    </li>
  </ul>
</section>



<div class="n-anchor-background-neutral-60">
  <div class="n-container">
    <ul class="n-anchor-link__list">
      <li class="n-anchor-link__list-item">
        <a class="n-anchor-link__link">
        <svg class="n-icon-circle-info n-messaging__icon" aria-labelledby="title">
        <title>circle-info</title>
        <use xlink:href="/static/luci/svg/sprite.svg#circle-info"></use>
    </svg>
            Server: {{ hostname }} | Database server: {{ database.engine }} ({{ database.url }})
        </a>
      </li>
    </ul>
  </div>
</div>


<div class="n-band--gray-lighter">
  <div class="n-container">
    <div class="n-row n-layout n-layout-2">
      
        
        
    <div class="n-feature-block n-feature-block--nested n-layout__item ">
        <h3 class="n-feature-block__title">Deploying code changes</h3>
        <div class="n-feature-block__body">
                <p>
                  The source code for this application is available to be forked from the <a href="https://www.github.com/openshift/django-ex">OpenShift GitHub repository</a>.
                  You can configure a webhook in your repository to make OpenShift automatically start a build whenever you push your code:
                </p>

<ol>
  <li>From the Web Console homepage, navigate to your project</li>
  <li>Click on Browse &gt; Builds</li>
  <li>Click the link with your BuildConfig name</li>
  <li>Click the Configuration tab</li>
  <li>Click the "Copy to clipboard" icon to the right of the "GitHub webhook URL" field</li>
  <li>Navigate to your repository on GitHub and click on repository settings &gt; webhooks &gt; Add webhook</li>
  <li>Paste your webhook URL provided by OpenShift</li>
  <li>Leave the defaults for the remaining fields &mdash; that's it!</li>
</ol>
<p>After you save your webhook, if you refresh your settings page you can see the status of the ping that Github sent to OpenShift to verify it can reach the server.</p>
<p>Note: adding a webhook requires your OpenShift server to be reachable from GitHub.</p>

                <h5>Working in your local Git repository</h5>
                <p>If you forked the application from the OpenShift GitHub example, you'll need to manually clone the repository to your local system. Copy the application's source code Git URL and then run:</p>

<pre>$ git clone &lt;git_url&gt; &lt;directory_to_create&gt;

# Within your project directory
# Commit your changes and push to OpenShift

$ git commit -a -m 'Some commit message'
$ git push</pre>

<p>After pushing changes, you'll need to manually trigger a build if you did not setup a webhook as described above.</p>

                  <h5>Expanding on sample app</h5>
                  <p>This project has just a skeleton for you to get started. It includes:</p>
                  <ol>
                    <li>Django project created with <code>python manage.py startproject project .</code></li>
                    <li>Appropriate database configuration</li>
                    <li>Sample Django app created with <code>python manage.py startapp welcome</code></li>
                  </ol>
                  <p>
                    Now it is time to add your own code.
                    Follow along the <a href="https://docs.djangoproject.com/en/1.8/intro/tutorial01/">Django tutorial</a> to learn more about Django.
                  </p>
                  <p>
                    If you are running Django's development server in your local host, you can see more information
                    about this request using the toolbar on the right.<br>
                    Please note that by default your Django settings have <code>DEBUG = True</code> and that is not appropriate for production use,
                    but very handy during development.<br>
                    Refer to the <a href="https://docs.djangoproject.com/en/1.8/howto/deployment/checklist/">Deployment Checklist</a>
                    before taking this project into a production environment.
                  </p>

            </section>

          </section>
          <section class="col-xs-12 col-sm-6 col-md-6">
            
                
            
            
        </div>
    </div>

        
    <div class="n-feature-block n-feature-block--nested n-layout__item ">
        <h3 class="n-feature-block__title">Managing your application</h3>
        <div class="n-feature-block__body">
                <p>Documentation on how to manage your application from the Web Console or Command Line is available at the <a href="http://docs.openshift.org/latest/dev_guide/overview.html">Developer Guide</a>.</p>

                <h5>Web Console</h5>
                <p>You can use the Web Console to view the state of your application components and launch new builds.</p>

                <h5>Command Line</h5>
                <p>With the <a href="http://docs.openshift.org/latest/cli_reference/overview.html">OpenShift command line interface</a> (CLI), you can create applications and manage projects from a terminal.</p>

        </div>
    </div>

        
    <div class="n-feature-block n-feature-block--nested n-layout__item ">
        <h3 class="n-feature-block__title">Development resources</h3>
        <div class="n-feature-block__body">
            <ul class="n-list n-list--unstyled">
                    <li class="n-list__item"><a href="http://docs.openshift.org/latest/welcome/index.html">OpenShift Documentation</a></li>
                    <li class="n-list__item"><a href="https://github.com/openshift/origin">Openshift Origin GitHub</a></li>
                    <li class="n-list__item"><a href="https://github.com/openshift/source-to-image">Source To Image GitHub</a></li>
                    <li class="n-list__item"><a href="http://docs.openshift.org/latest/using_images/s2i_images/python.html">Getting Started with Python on OpenShift</a></li>
                    <li class="n-list__item"><a href="http://stackoverflow.com/questions/tagged/openshift">Stack Overflow questions for OpenShift</a></li>
                    <li class="n-list__item"><a href="http://git-scm.com/documentation">Git documentation</a></li>
            </ul>
        </div>
    </div>

  
        
    </div>
  </div>
</div>

</main>

<footer class="n-footer n-footer--v1">
<div class="n-footer__bottom">
    <div class="n-container">
      <div class="n-footer__bottom-left">
        <div class="n-footer__copyright">
          <a href="http://www.netapp.com/us/legal/copyright.aspx" class="n-footer__copyright-link">© 2017 NetApp</a>
        </div>
        <div class="n-footer__social-links">
          
          <ul class="n-footer__social-link-list">
            
            <li class="n-footer__social-link-list-item" target="_blank">
              <a class="n-footer__social-link" data-ntap-social="follow-blog" href="http://blog.netapp.com" target="_blank" title="blog" alt="blog">
                <span class="n-footer__social-link-text">blog</span>
                <svg class="n-icon-blog n-footer__social-link-icon" aria-labelledby="title">
                  <title>blog</title>
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/us/static/images/icons/icons.svg#blog"></use>
                </svg>
                 
              </a>
            </li>
            
            <li class="n-footer__social-link-list-item" target="_blank">
              <a class="n-footer__social-link" data-ntap-social="follow-community" href="http://community.netapp.com/" target="_blank" title="community" alt="community">
                <span class="n-footer__social-link-text">community</span>
                <svg class="n-icon-community n-footer__social-link-icon" aria-labelledby="title">
                  <title>community</title>
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/us/static/images/icons/icons.svg#community"></use>
                </svg>
                 
              </a>
            </li>
            
            <li class="n-footer__social-link-list-item" target="_blank">
              <a class="n-footer__social-link" data-ntap-social="follow-twitter" href="https://twitter.com/netapp" target="_blank" title="twitter" alt="twitter">
                <span class="n-footer__social-link-text">twitter</span>
                <svg class="n-icon-twitter n-footer__social-link-icon" aria-labelledby="title">
                  <title>twitter</title>
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/us/static/images/icons/icons.svg#twitter"></use>
                </svg>
                 
              </a>
            </li>
            
            <li class="n-footer__social-link-list-item" target="_blank">
              <a class="n-footer__social-link" data-ntap-social="follow-facebook" href="http://www.facebook.com/NetApp" target="_blank" title="facebook" alt="facebook">
                <span class="n-footer__social-link-text">facebook</span>
                <svg class="n-icon-facebook n-footer__social-link-icon" aria-labelledby="title">
                  <title>facebook</title>
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/us/static/images/icons/icons.svg#facebook"></use>
                </svg>
                 
              </a>
            </li>
            
            <li class="n-footer__social-link-list-item" target="_blank">
              <a class="n-footer__social-link" data-ntap-social="follow-linkedin" href="http://www.linkedin.com/company/netapp" target="_blank" title="linkedin" alt="linkedin">
                <span class="n-footer__social-link-text">linkedin</span>
                <svg class="n-icon-linkedin n-footer__social-link-icon" aria-labelledby="title">
                  <title>linkedin</title>
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/us/static/images/icons/icons.svg#linkedin"></use>
                </svg>
                 
              </a>
            </li>
            
            <li class="n-footer__social-link-list-item" target="_blank">
              <a class="n-footer__social-link" data-ntap-social="follow-youtube" href="http://www.youtube.com/user/NetAppTV" target="_blank" title="youtube" alt="youtube">
                <span class="n-footer__social-link-text">youtube</span>
                <svg class="n-icon-youtube n-footer__social-link-icon" aria-labelledby="title">
                  <title>youtube</title>
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/us/static/images/icons/icons.svg#youtube"></use>
                </svg>
                 
              </a>
            </li>
            
            <li class="n-footer__social-link-list-item" target="_blank">
              <a class="n-footer__social-link" data-ntap-social="follow-slideshare" href="http://www.slideshare.net/NetApp" target="_blank" title="slideshare" alt="slideshare">
                <span class="n-footer__social-link-text">slideshare</span>
                <svg class="n-icon-slideshare n-footer__social-link-icon" aria-labelledby="title">
                  <title>slideshare</title>
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/us/static/images/icons/icons.svg#slideshare"></use>
                </svg>
                 
              </a>
            </li>
            
          </ul>
          
        </div>
        
      </div>
    </div>
  </div>
</footer>

<script src="/static/luci/js/components.js"></script>

</body>
</html>
