html,
body {
  @include gotham-narrow-light;
  box-sizing: border-box;
  color: $color-text-default;
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

head svg {
  display: none;
}
