hr {
  background: $color-gray-95;
  border: 0;
  height: 1px;
  margin-bottom: $spacing-default;
  margin-top: $spacing-default;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @extend %no-margin;
  @include gotham-extra-light;
}

h1 {
  font-size: $font-size-h1;
  line-height: $line-height-h1 / $font-size-h1;
}

h2 {
  font-size: $font-size-h2;
  line-height: $line-height-h2 / $font-size-h2;
}

h3 {
  @include gotham-light;
  font-size: $font-size-h3;
  line-height: $line-height-h3 / $font-size-h3;
}

h4 {
  @include gotham-light;
  font-size: $font-size-h4;
  line-height: $line-height-h4 / $font-size-h4;
}

h5 {
  @include gotham-bold;
  font-size: $font-size-h5;
  line-height: $line-height-h5 / $font-size-h5;
}

h6 {
  @include gotham-bold;
  font-size: $font-size-h6;
  line-height: $line-height-h6 / $font-size-h6;
}

img {
  max-width: 100%;
}

p,
.n-paragraph {
  @extend %no-margin;
  @include gotham-narrow-light;
  color: $color-text-default;
  font-size: $font-size-default;
  line-height: $line-height-default / $font-size-default;

  + {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-top: $spacing-default;
    }
  }
}

.n-paragraph-lead {
  @include gotham-narrow-light;
  color: $color-text-default;
  font-size: $font-size-lead;
  line-height: $line-height-lead / $font-size-lead;
}

.n-paragraph-fine-print {
  @include gotham-narrow-light;
  color: $color-text-default;
  font-size: $font-size-xs;
  line-height: $line-height-sm;
}

.n-section-title {
  border-bottom: solid 1px $color-gray-87;
  display: table;
  margin-bottom: $spacing-component-bottom;
  width: 100%;

  .n-section-title__heading {
    color: $color-text-default;
    display: table-cell;
    font-size: $font-size-h2;
  }

  .n-section-title__actions {
    display: table-cell;
    text-align: right;
  }

  .n-section-title__action-link {
    @include gotham-narrow;
  }
}

a {
  color: $color-link;
  text-decoration: none;

  &:hover {
    color: $color-link-hover;
    text-decoration: underline;
  }
}

.n-link-standalone {
  display: block;
  margin-bottom: $spacing-default;
}

.n-list,
ul,
ol {
  color: $color-text-default;
  font-size: $font-size-default;
}

.n-list {
  display: inline-block;
}

.n-list--inline {
  list-style: none;
  margin-top: 0;
  padding-left: 0;

  li {
    display: inline-block;
  }
}

.n-list--unstyled {
  @extend %no-margin;
  @extend %no-padding;
  list-style: none;
}

.n-list__item {
  margin-bottom: $spacing-sm;

  .n-list {
    margin-bottom: $spacing-sm;
    margin-top: $spacing-sm;
    padding-left: $spacing-default;
  }
}

.n-list--bulleted {
  @extend %no-margin;
  @extend %no-padding;
  list-style: none;

  .n-list__item {
    padding-left: $spacing-default;
    position: relative;

    &:before {
      background: $color-text-default;
      border-radius: 50%;
      content: '';
      display: block;
      height: 4px;
      left: $spacing-xs;
      position: absolute;
      top: 7px;
      width: 4px;
    }
  }
}

.n-list--numbered {
  @extend %no-margin;
  @extend %no-padding;
  counter-reset: my-counter;
  list-style: none;

  .n-list__item {
    &:before {
      content: counter(my-counter, decimal) '.';
      counter-increment: my-counter;
      display: inline-block;
      margin-right: $spacing-xs;
      min-width: $spacing-default;
      vertical-align: top;
    }

    &.n-list__item--counter-override:before {
      content: attr(value) '.';
    }
  }
}

.n-list--two-column {
  @extend %no-margin;
  @extend %no-padding;
  display: table;

  .n-list__item {
    display: table-row;
  }

  .n-list__item-column {
    display: table-cell;
    padding: 0 $spacing-default $spacing-default 0;
  }
}

.n-list--property-value-pairs {
  @include clearfix;
}

.n-list__term,
.n-list__description {
  @extend %no-margin;
  @extend %no-padding;
  float: left;
  padding-bottom: $spacing-xs;
}

.n-list__term {
  @include gotham-narrow-bold;
  clear: left;
  min-width: 130px;
  padding-right: $spacing-xs;
}

.n-clearfix {
  @include clearfix();
}

code {
  display: block;
  font-family: Courier, 'Courier New', monospace;
  line-height: $line-height-default;
  margin-bottom: $spacing-sm;
  padding: 20px;

  .highlight {
    color: $color-orange;
  }

  &.inline {
    display: inline;
    margin-bottom: 0;
    padding: 0;
  }
}

.n-text-longform,
.n-form {
  > h1,
  > h2,
  > h3,
  > h4,
  > h5,
  > h6,
  > p,
  > ol,
  > ul,
  dl {
    margin-bottom: $spacing-default;

    + {
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        margin-top: $spacing-default;
      }
    }
  }

  > ul li,
  > ol li {
    margin-bottom: $spacing-xs;
  }

  .n-pull-left {
    float: left;
    margin: 0 $spacing-default $spacing-default 0;
  }

  .n-pull-right {
    float: right;
    margin: 0 0 $spacing-default $spacing-default;
  }
}

.n-text-longform {
  p {
    margin-bottom: $spacing-default;
  }
}

.no-wrap {
  white-space: nowrap;
}

@media screen and (min-width: $screen-sm) {
  h1 {
    font-size: $font-size-h1-sm;
    line-height: $line-height-h1-sm / $font-size-h1-sm;
  }

  h2 {
    font-size: $font-size-h2-sm;
    line-height: $line-height-h2-sm / $font-size-h2-sm;
  }

  h3 {
    font-size: $font-size-h3-sm;
    line-height: $line-height-h3-sm / $font-size-h3-sm;
  }

  p,
  .n-paragraph {
    font-size: $font-size-sm;
    line-height: $line-height-sm / $font-size-sm;
  }

  .n-paragraph-lead {
    font-size: $font-size-lead-sm;
    line-height: $line-height-lead-sm / $font-size-lead-sm;
  }
}

@media screen and (min-width: $screen-md) {
  h1 {
    font-size: $font-size-h1-md;
    line-height: $line-height-h1-md / $font-size-h1-md;
  }

  h2 {
    font-size: $font-size-h2-md;
    line-height: $line-height-h2-md / $font-size-h2-md;
  }

  h3 {
    font-size: $font-size-h3-md;
    line-height: $line-height-h3-md / $font-size-h3-md;
  }

  p,
  .n-paragraph {
    font-size: $font-size-md;
    line-height: $line-height-md / $font-size-md;
  }

  .n-paragraph-lead {
    font-size: $font-size-lead-md;
    line-height: $line-height-lead-md / $font-size-lead-md;
  }
}

@media screen and (min-width: $screen-lg) {}

@media screen and (min-width: $screen-xl) {}
