.button {
  @include gotham-book;
  // @include full-height-hidden-pseudo-element;
  background: $color-blue-light;
  border-radius: $border-radius-default;
  color: $color-white;
  display: inline-block;
  font-size: $font-size-default;
  padding: 20px 45px;
  text-transform: uppercase;

  + .button {
    margin-left: $spacing-sm;
  }


  &:hover {
    background: $color-blue-dark;
    color: $color-white;
    text-decoration: none;
  }

  &:active {
    background: $color-blue-dark;
  }

  &.button--inverse {
    background: $color-white;
    border-radius: $border-radius-default;
    color: $color-text-default;

    &:hover {
      background: $color-gray-87;
      color: $color-text-default;
    }

    &:active {
      background: $color-gray-87;
    }
  }
}

.button__text,
.button__icon {
  display: inline-block;
  vertical-align: middle;
}

.button__icon {
  fill: $color-blue-light;
  height: 12px;
  position: relative;
  top: -1px;
  width: 12px;
}

.button--no-bg {
  background: none;
  color: $color-link;

  &:hover {
    background: none;
    color: $color-link-hover;
  }
}

.button--secondary {
  background: $color-gray-52;
  border-radius: $border-radius-default;
  color: $color-white;

  &:hover {
    background: $color-gray-41;
    color: $color-white;
    text-decoration: none;
  }

  &:active {
    background: $color-gray-27;
  }
}

.button--inline-action {
  background: none;
  color: $color-gray-52;
  margin-bottom: 0;
  padding: 0;

  &:hover {
    background: none;
    color: $color-black;
  }

  .button__icon {
    fill: $color-blue-light;
  }

  &:active .button__icon {
    fill: $color-blue-dark;
  }

  &.button--inverse {
    background: none;
    color: $color-white;

    &:hover {
      background: none;
      color: $color-gray-52;
    }

    .button__icon {
      fill: $color-white;
    }

    &:active .button__icon {
      fill: $color-white;
    }
  }
}
